body {
    height: 100%;
    background: linear-gradient(53deg, rgba(22,245,228,1) 20%, rgba(165,62,248,1) 52%, rgba(255,140,173,1) 100%);
    text-align: center;
}

.user {
    margin: 15px;
    width: 8%;
    height: 8%;
}

.container {
    height: 730px;
    padding: 16px;
}

input[type=text], input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}

.sub_container {
    
    justify-content:space-between;
}

a {
    text-decoration: none;
    color: black;
    font-style: italic;
}