body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background: linear-gradient(53deg, rgba(22,245,228,1) 20%, rgba(165,62,248,1) 52%, rgba(255,140,173,1) 100%);
    text-align: center;
}

.imgcontainer {
    margin-top: 220px;
    margin-bottom: 75px;
}

.user {
    width: 235px;
    height: 235px;
}

.container {
   margin: 0;
    height: 730px;
    padding: 16px;
}

input[type=text], input[type=password] {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: 700;
    width: 710px;
    height: 80px;
    padding-left: 110px;
    margin: 8px 0;
    margin-bottom: 35px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color:#343848;
    color: white;
    font-size: 22px;
    opacity: 70%;
    margin: 60px;
    width: 390px;
    height: 80px;
    border: none;
    cursor: pointer;
}

.sub_container{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    justify-content:space-between;
}

a {
    margin-left: 400px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    opacity: 70%;
    text-decoration: none;
    font-style: italic;
}

#pass {
    background: white url(imgs/lock.png) left no-repeat; 
    background-size: 30px 30px;
    background-position: 5% 50%;
}

#user {
    background: white url(imgs/user_2.png)  left no-repeat;
    background-size: 30px 30px;
    background-position: 5% 50%;
}



.lcontainer {
    
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .lcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #242f3d;
  }
  
  /* On mouse-over, add a grey background color */
  .lcontainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .lcontainer input:checked ~ .checkmark {
    background-color: #242f3d;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .lcontainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .lcontainer .checkmark:after {
    left: 6px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }